<div class="iq-card iq-card-block iq-card-stretch iq-card-height">
    <div class="iq-card-header d-flex justify-content-between">
        <div class="iq-header-title">
            <h4 class="card-title">Ajout d'une seance </h4>
        </div>
    </div>
    <div class="iq-card-body">
        <div class="table-responsive">
            <form [formGroup]="addSe"> 
                <div class="form-group">
                          <div class="form-group">
                            <label for="exampleInputName1">code seance</label>
                            <input type="text" class="form-control" id="exampleInputName1" placeholder="code seance" formControlName="codeS">
                          </div>

                          <div class="form-group" >
                            <label for="exampleInputName1">module </label>
                              <select class="form-control mb-0" id="rr"  name="module" formControlName="codeM" >
                                  <option value="" selected>Choisir module</option>
                                  <option
                            *ngFor="let el of elements; let i = index"
                              value="{{ el.codeM }}"
                                  >{{ el.nomM }} </option >
                              </select>
                          </div>
                          <div class="form-group" >
                            <label for="exampleInputName1">enseignant </label>
                              <select class="form-control mb-0" id="rr"  name="enseignant" formControlName="id" >
                                  <option value="" selected>Choisir enseignant</option>
                                  <option
                            *ngFor="let el of elementsEnsei; let i = index"
                              value="{{ el.id }}"
                                  >{{ el.nomUser }}&nbsp; {{el.prenomUser}} </option >
                              </select>
                          </div>
                          <div class="form-group" >
                            <label for="exampleInputName1">classe </label>
                              <select class="form-control mb-0" id="rr"  name="enseignant" formControlName="codeC" >
                                  <option value="" selected>Choisir classe</option>
                                  <option
                            *ngFor="let el of elementsClasse; let i = index"
                              value="{{ el.codeC }}"
                                  >{{ el.codeC }}&nbsp; {{el.niveauC}} </option >
                              </select>
                          </div>
                          <div class="form-group">
                            <label for="exampleInputName2">heure de debut</label>
                            <input type="text" class="form-control" id="exampleInputName2" placeholder="heure de debut" formControlName="heureDeb"
                            onfocus="(this.type='time')"
                            onblur="(this.type='text')">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputName2">heure de fin</label>
                            <input type="text" class="form-control" id="exampleInputName2" placeholder="heure de fin" formControlName="heureFin"
                            onfocus="(this.type='time')"
                            onblur="(this.type='text')">
                          </div>

                          <div class="form-group">
                            <label for="exampleInputName1">numéro salle</label>
                            <input type="number" class="form-control" id="exampleInputName1" placeholder="numéro salle" formControlName="numSalle">
                          </div>

                          <div class="form-group">
                            <label for="exampleInputName1">type </label>
                              <select class="form-control mb-0" id="rr"  name="type" formControlName="type" (change)="onChanged($event.target.value)">
                                  <option value="" selected>Choisir type</option>
                                  <option value="rattrapage">rattrapage </option> 
                                  <option value="seance par quinzaine">seance par quinzaine</option>
                                  <option value="seance fixe">seance fixe </option>  
                              </select>
                          </div>

                          <div class="form-group" *ngIf="isNotRattrapage">
                            <label for="exampleInputName1">jour d'une semaine </label>
                              <select class="form-control mb-0" id="rr"  name="jour" formControlName="jour" >
                                  <option value="" selected>Choisir jour</option>
                                  <option value="1">lundi </option> 
                                  <option value="2">mardi </option> 
                                  <option value="3">mercredi </option> 
                                  <option value="4">jeudi</option> 
                                  <option value="5">vendredi </option> 
                                  <option value="6">samedi </option> 
                              </select>
                          </div>

                          <div class="form-group" *ngIf="isRattrapage">
                            <label for="exampleInputName2">date</label>
                            <input type="text" class="form-control" id="exampleInputName2" placeholder="date" formControlName="date" 
                            onfocus="(this.type='date')"
                            onblur="(this.type='text')">
                          </div>
                          <button type="submit"  class="btn btn-primary" (click)=onAddClick()>Envoyer</button> 
                          <a routerLink="../seances">  <button type="reset"  class="btn btn-light">Cancel</button></a>
                 </div>
            </form>
        </div>
    </div>
</div>