<button (click)="toggleWeekends()">Ajouter les weekends</button>
<div>
  
    <label for="head">Rattrapage  &nbsp;&nbsp;</label>
    <input type="color" id="head" name="head"
    value="#DC1801">
</div>
<div>
    
    <label for="head">séance fix  &nbsp;&nbsp;</label>
    <input type="color" id="head" name="head"
           value="#0BDC01">
</div>
<div>
   
    <label for="head">séance par quinzaine &nbsp;&nbsp; </label>
    <input type="color" id="head" name="head"
    value="#0108DC">
</div>
<full-calendar [options]="calendarOptions" ></full-calendar> 
