<div class="iq-card iq-card-block iq-card-stretch iq-card-height">
    <div class="iq-card-header d-flex justify-content-between">
       <div class="iq-header-title">
          <h4 class="card-title">Liste des modules</h4>
       </div> 
    </div>
    <div class="iq-card-body">
      <a routerLink="../addModule">   <button type="button" class="btn btn-primary btn-sm mr-2" >Ajouter un module </button></a>
      
      <div class="table-responsive">
         <table class="table mb-0 table-borderless">
            <thead>
               <tr>
                  <th scope="col">Code</th> 
                  <th scope="col">Nom</th> 
                  <th scope="col">Niveau</th>
                  <th scope="col">Semestre</th> 
                  <th scope="col">Action</th> 
               </tr>
            </thead>
            <tbody>
               <tr  *ngFor="let el of elements; let i = index">
                  <td>{{ el.codeM }}</td>
                  <td>{{ el.nomM }}</td> 
                  <td>{{ el.niveau }}</td>
                  <td>{{ el.semestre }}</td>
                  <td>
                     <a routerLink="../modifModule/{{el.codeM}}">    <button type="button" class="btn btn-primary btn-sm mr-2" ><i class="fa fa-pencil"></i></button></a>
                     <button type="button" class="btn btn-primary btn-sm mr-2" (click)=onDeleteClick([el.codeM])><i class="fa fa-trash"></i></button>
                  </td>
               </tr> 
            </tbody>
         </table>
      </div>
    </div>
 </div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
   <div class="modal-dialog">
 
     <!-- Modal content-->
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title">Modal Header</h4>
       </div>
       <div class="modal-body">
         <p>Some text in the modal.</p>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       </div>
     </div>
 
   </div>
 </div>
 <ng-template #infoModal let-modal>
   <div class="modal-header">
    <h5 class="modal-title" id="editProfileLabel">Détails</h5> 
   </div>
   
   <div class="modal-body">  
      <div class="text-center mt-3">
         <h4><b>{{modalContent.nom}} {{modalContent.prenom}}</b></h4>
         <span class="badge border border-primary text-primary">{{modalContent.role}}</span>
         <p><u> Date Réclamation</u> : {{ modalContent.date_envoie }}<br>
            <u>Réclamation</u> : {{ modalContent.contenue_reclamation }}<br></p>
         <br>*******************<br>
         <p><u>Date Réponse</u> : {{ modalContent.date_reponse }}<br>
            <u>Réponse</u> : {{modalContent.contenue_reponse }}</p> 
      </div>
    <br>  
     <div class="modal-footer">
      <button type="button" class="btn btn-dark" (click)="modal.dismiss()">Fermer</button> 
      <button type="button" class="btn btn-primary"  *ngIf="isReclamant" (click)="goToAppel(modalContent.id_reponse)">Faire un Appel</button> 
     </div> 
   </div>
  </ng-template>