<div class="row">
    <div class="col-md-6 col-lg-3" *ngFor="let s of stat">
       <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
          <div class="iq-card-body"><div class="iq-progress-bar progress-bar-vertical iq-bg-primary">
            <span class="bg-primary" data-percent="70" style="transition: height 2s ease 0s; width: 70%; height: 70%;"></span>
        </div>
             <h3><b>{{s.nbr}}</b></h3>
             <h4 class="mb-2 mt-2">{{s.role}}s</h4> 
          </div>
       </div>
    </div>
    <!--<div class="col-md-6 col-lg-3">
       <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
          <div class="iq-card-body">
             <div class="iq-progress-bar progress-bar-vertical iq-bg-danger">
                   <span class="bg-danger" data-percent="50"></span>
               </div>
             <span class="line-height-4">15</span>
             <h4 class="mb-2 mt-2">Enseignant</h4> 
          </div>
       </div>
    </div>
    <div class="col-md-6 col-lg-3">
       <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
          <div class="iq-card-body">
             <div class="iq-progress-bar progress-bar-vertical iq-bg-warning">
                   <span class="bg-warning" data-percent="80"></span>
               </div>
             <span class="line-height-4">9</span>
             <h4 class="mb-2 mt-2">Parent</h4> 
          </div>
       </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
           <div class="iq-card-body">
              <div class="iq-progress-bar progress-bar-vertical iq-bg-warning">
                    <span class="bg-warning" data-percent="80"></span>
                </div> 
              <span class="line-height-4">11</span>
              <h4 class="mb-2 mt-2">Entreprise</h4> 
           </div>
        </div>
     </div>-->
 </div>

 
 <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
    <div class="iq-card-header d-flex justify-content-between">
       <div class="iq-header-title">
          <h4 class="card-title">Bienvenue chez POLYTECH INTL</h4>
       </div> 
    </div>
    <div class="iq-card-body">
      <div class="table-responsive">
        <img  src="assets/images/ecole.png" class="img-fluid center" alt="">
      </div>
    </div>
 </div>