<div class="iq-card iq-card-block iq-card-stretch iq-card-height">
    <div class="iq-card-header d-flex justify-content-between">
        <div class="iq-header-title">
            <h4 class="card-title">modifier une classe </h4>
        </div>
    </div>
    <div class="iq-card-body">
        <div class="table-responsive">
            <form [formGroup]="modifCl"> 
                <div class="form-group">
                          <div class="form-group">
                            <label for="exampleInputName1">code classe</label>
                            <input type="text" class="form-control" id="exampleInputName1" 
                            placeholder="code classe" 
                          
                            value="{{classe.codeC}}"
                            disabled>
                          </div>
                          <div class="form-group">
                            <label for="exampleInputEmail3">niveau classe</label>
                            <input type="email" class="form-control" id="exampleInputEmail3" 
                            placeholder="niveau classse" 
                            formControlName="niveauC"
                            value="{{classe.niveauC}}"
                            >
                          </div>
                       
                          <button type="submit"  class="btn btn-primary" (click)=onModifClick()>Envoyer</button> 
                          <a routerLink="/home/classes">  <button type="button"  class="btn btn-light">Cancel</button></a>
                 </div>
            </form>
        </div>
    </div>
</div>